*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, Helvetica, sans-serif;
background:linear-gradient(to right,#ffecd2,#fcb69f);
min-height:100vh;
}

/* MAIN CONTAINER */
.container{
width:90%;
max-width:1200px;
margin:auto;
text-align:center;
padding-top:30px;
}

/* INPUTS + SELECTS */
input,select{
width:100%;
padding:12px;
margin-top:12px;
border-radius:8px;
border:1px solid #ccc;
font-size:16px;
}

/* BUTTON */
button{
width:100%;
padding:12px;
margin-top:15px;
border-radius:8px;
border:none;
background:#28a745;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#218838;
}

/* RESULT GRID */
#result{
margin-top:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:25px;
}

/* RECIPE CARD */
.card{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0px 5px 20px rgba(0,0,0,0.2);
text-align:left;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

/* CARD HEADING */
.card h3{
margin-bottom:10px;
color:#333;
}

/* TEXT */
.card p{
margin:5px 0;
}

/* STEPS */
.card ol{
margin-left:20px;
margin-top:5px;
}

/* RATE BUTTON */
.rateBtn{
background:#007bff;
margin-top:10px;
}

.rateBtn:hover{
background:#0069d9;
}

/* FAVORITE BUTTON */
.favBtn{
background:#ff4d6d;
margin-top:8px;
}

.favBtn:hover{
background:#e63950;
}
